body {
    background-color: rgb(228, 204, 172);
    margin: auto;
}

p {
    justify-content: center;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    text-align: center;
}