@charset "UTF-8";

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #042326, #107361);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(4, 27, 29, 0.5);
}

h1 {
    color: #1D7373;
    text-align: center;
    text-shadow: 1px 1px 2px #1144449a;
}

h2 {
    color: #0A3A40;
}



p {
    text-align: justify;
}